* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #F6F4EB;
    overflow-x: hidden;
}

.header {
    background-color: #F6F4EB;
    height: 100vh;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover; 
}

.container {
    padding: 0 100px;
    height: 100%;
}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 50%, transparent);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.4s ease-in-out;
    z-index: 2;
}

/* Scrolled style for the navbar */
.navbar.scrolled {
    background-color: #164856; 
  }

.logo {
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.list {
    position: relative;
    display: flex;
}

.list li {
    list-style: none;
    margin: 0 20px;
}

.list li a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    position: relative;
}

.header-texts {
    background-color: rgba(0, 0, 0, 0.3); /* Background color for the div */
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.3);
    width: 40%;
    position: absolute;
    top: 40%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; 
    padding: 20px;
}

.header-texts p {
    justify-content: center;
    text-align: center;
}

.h-title {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.h-text {
    font-size: 20px;
    color: white;
    font-weight: normal;
    margin-top: 10px;
}

.header-arrow {
    position: absolute;
    display: flex;
    top: 90%;
    left: 49%;
}

.header-arrow i {
    font-size: 40px;
    color: #f4f4f483;
    z-index: 3;
}

.about {
    height: 820px;
    background-color: #F4F4F4;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.about-content {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-title {
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: lighter;
}

.about-content img {
    height: 250px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.about-text {
    font-size: 22px;
    font-weight: lighter;
    width: 1000px;
    margin-inline: auto;
}

.quote {
    height: 500px;
    background-image: url("../assets/images/wil-stewart-RpDA3uYkJWM-unsplash.jpg");
}

.quote-text {
    position: relative;
    color: white;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    top: 40%;
    margin: 0 40px;
    text-align: center;
}

.writer {
    font-size: 20px;
    margin-top: 10px;
}

.experience {
    height: 700px;
    background-color: #F4F4F4;
    width: 100%;
}

.experience-skill {
    display: flex;
}

.experience-content {
    display: flex;
    position: relative;
    top: 10%;
}

.exp-title {
    font-size: 21px;
    font-weight: 550;
    color: #164856;
}

.exp-jobs{
    margin-left: 70px;
    border-left:  2px solid  #282F36;
    padding-left: 10px;
}

.job {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    width:500px;
}

.position {
    font-weight: 500;
}

.place-time {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.place a{
    text-decoration: none;
    color: black;
}

.time, .place a {
    font-size: 15px;
    font-weight: 50;
    color: rgba(0, 0, 0, 0.548);
}

.job-description {
    padding-top: 10px;
    font-size: 13px;
}

.skills {
    height: 700px;
    background-color: #F4F4F4;
}

.skills-content {
    display: flex;
    position: relative;
    top: 10%;
    left:10%;
}

.skills-title {
    font-size: 21px;
    font-weight: 550;
    color: #164856;
}

.skill-list {
    margin-left: 70px;
    border-left:  2px solid  #282F36;
    padding-left: 10px;
}

.skill {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    width:500px;
}

.skill-head {
    font-weight: 500;
}

.skill-items {
    display: flex;
    margin-top: 10px;
}

.item {
    border: 2px solid #1648568f;
    color: #164856cb;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    margin-right: 10px;
}

.dl-resume {
    height: 150px;
    background-color: #198797;
}

.dl-resume-content {
    text-align: center;
    transition: 0.4s ease-in-out;

}

.dl-resume-content p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 63px;
}

.dl-resume-content:hover {
    cursor: pointer;
    opacity: 0.3;
}

.projects {
    height: 1200px;
    background-color: #F4F4F4;
}

.projects-content {
    padding-top: 90px;
    margin-inline: 150px;
}

.projects-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 70px;
    font-weight: lighter;
}

.projects-title-side {
    margin-top: 10px;
    font-size: 15px;
}

.proj-list {
    margin-top: 50px;
}

.proj-item {
    background-color: #D7E5E9;
    margin-bottom: 40px;
    height: 250px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}

.proj-item-img {
    border-radius: 20px 0 0 20px;
    border-right: 7px #8cb6c3 solid;
    width: 420px;
}

.proj-item-description {
    margin-top: 40px;
    margin-left: 50px;
    width: 960px;
    margin-right: 30px;
}

.proj-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proj-item-title {
    font-size: 30px;
    font-weight:550;
}

.proj-item-date {
    font-size: 18px;
    font-weight: bold;
    color: #1f252ad2;
    position: relative;
    vertical-align: middle;
    padding-bottom: 10px;
    top: 5px;
}

.proj-item-text{
    font-size: 18px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    height: 80px;
}

.proj-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proj-footer a {
    color: #164856b8;
    font-size: 37px;  
}

.proj-tags {
    display: flex;
}

.proj-tag {
    font-size: 12px;
    font-weight: 550;
    background-color: #164856b8; /* #277b8878 */ 
    color: #D7E5E9;
    margin-right: 15px;
    padding: 8px 10px;
    border-radius: 5px;
}

.connect{
    height: 400px;
    background-color: #e0e0e0;
    text-align: center;
}

.connect-content {
    padding-top: 90px;
    margin-inline: 600px;
}

.connect-icon {
    font-size: 100px;
}

.connect-title {
    margin-top: 30px;
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.connect-text {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
}

.footer {
    height: 250px;
    background-color: #1f252a;
}

.footer-content {
    text-align: center;
}

.footer-icons {
    padding-top: 50px;
    padding-bottom: 20px;
}

.icon {
    color: #e0e0e0;
    font-size: 25px;
    margin-left: 0px;
    background-color: #282F36; /* #303437 */
    padding: 15px;
    transition: 0.4s ease-in-out; 
}

.pirate-logo {
    color: #e0e0e058;
    font-size: 50px;
    font-weight: lighter;
}

.copyright {
    color: #e0e0e0;
    font-size: 15px;
    font-weight: 100;
    padding-top: 20px;
}

@media (max-width: 1710px){
    .header-texts{
        width: 50%;
        left: 25%;
    }
}

@media (max-width: 1620px) {
    .projects {
        height: 1250px;
    }
    .proj-item {
        height: 280px;
    }
    .proj-item-img {
        width: 500px;
    }
    .proj-footer {
        padding-top: 20px;
    }
    .proj-item-description {
        margin-right: 50px;
    }
    .place-time {
        width: 500px;
    }
    .connect-content {
        padding-top: 70px;
    }
}

@media (max-width: 1500px){
    .place-time, .job-description {
        width: 400px;
    }
    .job{
        width: 400px;
    }
    .proj-item-title{
        font-size: 20px;
    }
    .proj-item-text{
        font-size: 15px;
    }
    .proj-item-date{
        font-size: 15px;
    }
    .connect-title{
        font-size: 30px;
    }
    .connect-text{
        font-size: 17px;
    }
    .connect-content{
        margin-inline: 550px;
    }
    .skill {
        width: 400px;
    }
}

@media (max-width:1365px){
    .h-text{
        font-size: 18px;
    }
    .h-title{
        font-size: 35px;
    }
}

@media (max-width:1335px){
    .connect-content{
        margin-inline: 500px;
    }
    .proj-item{
        display: inline-block;
    }
    .proj-item-img{
        width: 1000px;
        height: 550px;
        border-radius: 20px 20px 0 0 ;
        border: 0;
        border-bottom: 7px #8cb6c3 solid;
    }
    .proj-item {
        height: 800px;
        width: 1000px;
    }
    .projects{
        height: 2800px;
    }
    .proj-item-description{
        width: 900px;
        margin-top: 30px;
    }
    .proj-footer{
        padding: 0;
    }
    .navbar{
        padding-inline: 50px;
    }
}
@media (max-width:1270px){
    .projects-content{
        margin-inline: 100px;
    }
}

